body {
    margin: 0;
    overflow: hidden;
}

.rastro-mouse {
    position: absolute;
    pointer-events: none;
}
.ponto {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
}
