.table-container {
    float: left;
    margin: 10px;
  }

  table {
    border-collapse: separate;
    border-spacing: 3px;
    border: 2px solid black;
  }

  th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }

  th:first-child,
  td:first-child {
    width: 60px;
  }
  td:last-child {
    width: 40px;
  }
